@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.app {
  display: flex;
  justify-content: center;
  background-color: #000;
}

.app-container {
  max-width: 800px;
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 48px;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.input {
  padding: 5px;
  margin-top: 10px;
  border-width: 0.5px;
  border-radius: 4px;
  height: 35px;
}

.input-msg {
  padding: 5px;
  margin-top: 10px;
  border-radius: 4px;
  border-width: 0.5px;
  min-height: 95px;
  max-height: 200px;
  max-width: 100%;
  min-width: 100%;
}

.btn-enviar {
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border-width: 0.5px;
  width: 20%;
  height: 35px;
  background-color: #d5d8dc;
  text-transform: uppercase;
  font-weight: 500;
}
.btn-enviar:hover {
  cursor: pointer;
}

/* colors #363636 #f9f9f9 #ffffff */
/* fonte Roboto */
